<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>admin</title>
</head>

<body>
    <header>
        <div class="py-2" id="main-header">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="/admin/home" style="color: black;">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEft17tqVUEUxvFfvGChAQsRFS0skkJ8Ay0s9C0URC3sVCyEqEhABEXU1kbBwkbfQBsb30BBIaTwgoKFoIGA17NkTthscs7M2U6RwJ7mwMxa3/rvb65nyhprU2uMRw+Um5HeoUkduoB5TOcSK41/wzXcHeq1p+w7tlYqViqzhG2jgP6UqlSOWzGm7dC6AbqOX8mVq9hQ6FDkRG60jbgyIm9ih3bhcxL7iN2FQO+xL8XuwYdaQEfwIok9xMlCoPs4m2KP4lktoFu4lMRm8TpNwTiuZUTsuxR0D+dqAX3BfsSxEC3OqzsZl04h3Iy2HYvpd7W0iddQiATAxYZaFLyJHa0KsU7O42mjPzfNnYBC/zQeNAptwQnsTX1v8GSwm342YuIjbmfc7AwU59SZFtS4Wpcb235cXGegoehz3Eg773er0mYcw9xgVx0q3I3/DTSs8xUv8XbgxCbM4HCH+7AaUKEB2bAeKGdR71DvUM6B3Pj6WUM/0gGX+6Ka43Hvxen+r7Xf1K9woGa1Aq2oeXAU0HE8WgW0QLdTSNyD8Vp4PAoo+uM+istxZ6cS5Umf0pN2oZnS/7fPGdg7lHPoL4VXTSWM0mESAAAAAElFTkSuQmCC"
                            class="mr-3" height="30" />
                        <span>MYCART.com</span>
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <div class="dropdown mr-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="background-color:#e94c0e; color:black;border: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
                            <!-- <a class="dropdown-item" href="#">Create Admin</a> -->
                            <!-- <a class="dropdown-item" href="#">Create Admin</a>
                            <a class="dropdown-item" href="#">Edit Admin</a>
                            <a class="dropdown-item" href="#">Delete Admin</a>
                            <a class="dropdown-item" href="#">Logout</a> -->

                        </div>
                    </div>


                </div>
            </div>
        </div>


    </header>

    <nav class="navbar navbar-expand-lg " style="background-color: #fab397;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class='bx bx-menu'></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin/add">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/edit">Edit Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/delete">Delete Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="modals">
        <!--create Admin Modal -->
        <div class="modal fade" id="createAdminModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Create Admin
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="createAdminForm">
                            <div class="form-floating">
                                <input type="text" id="sname" name="sname" class="form-control" placeholder="Name"
                                    autofocus required />
                                <label for="name" class="form-label">Name</label>


                                <br />
                            </div>
                            <div class="form-floating">
                                <input type="email" id="semail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>

                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="spassword" name="Password" class="form-control"
                                    placeholder="Enter Password" required />
                                <label for="password" class="form-label">Password</label>

                                <br />
                            </div>

                        </form>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="createAdminForm">Create</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="createAdminClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- select Admins Modal -->
        <div class="modal fade" id="selectAdminModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        <h4>
                            <p>Please Select the admin you want to edit</p>
                        </h4>
                    </div>


                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="selectAdminForm">



                        </form>
                        <p style="visibility: hidden; color:red">Please select one option before submitting!</p>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="selectAdminForm">Submit</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="selectAdminClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- admin info edit Modal -->
        <div class="modal fade" id="editAdminModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Edit Admin
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="editAdminInfoForm">
                            <div class="form-floating">
                                <input type="text" id="aName" name="pname" class="form-control" placeholder="Name"
                                    autofocus required />
                                <label for="name" class="form-label">Name</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="email" id="aEmail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="aPassword" name="Password" class="form-control"
                                    placeholder="Enter Password" required />
                                <label for="password" class="form-label">Password</label>

                                <br />
                            </div>

                        </form>
                        <!-- <p id='editInfoErrorMessage' style="color: red;"></p> -->
                        <p id="oldAdminEmail" style="visibility: hidden;"></p>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit"
                                form="editAdminInfoForm">Submit</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="editAdminInfoClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- logout Modal -->
        <div class="modal fade" id="logoutModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <div class="modal-body" style="background-color: #f7af93;">
                        <H4>ARE YOU SURE YOU WANT TO LOGOUT ?</H4>
                    </div>

                    <div class="modal-footer" style="background-color: #f7af93">
                        <button class="btn btn-outline-secondary" id="logoutYes">YES</button>
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            data-bs-target="#modal">NO</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- profile Modal -->
        <div class="modal fade" id="profileModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Profile
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;" id="profileInfo">

                    </div>
                    <div class="modal-footer" style="background-color: #f7af93">
                        <button class="btn btn-outline-success" id="editProfileModalLauncher" data-bs-toggle="modal"
                            data-bs-target="#editProfileModal">Edit</button>

                        <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                            id="profileModalClose">Close</button>
                    </div>


                </div>
            </div>
        </div>



        <!--change Password modal-->
        <div class="modal fade" id="changePasswordModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="changePasswordForm">
                            <p>Please enter your registered email address to reset your password</p>
                            <div class="form-floating">
                                <input type="email" id="cEmail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>



                        </form>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="changePasswordForm"
                                id="changePasswordSubmit">Submit</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="changePasswordClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>



        <!-- Alert message modal -->
        <div class="modal fade" id="alertMessageModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <div class="modal-body" style="background-color: #f7af93;">
                        <p><b id="alertMessage"></b></p>
                    </div>

                    <div class="modal-footer" style="background-color: #f7af93">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            data-bs-target="#modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="home" id="home">
        <div class="home-img container">
            <img src="/extras/home.png" alt="">
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin/admin.js"></script>

</body>

</html>