<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>

<body class="home">
    <header>
        <div class="py-2" id="main-header">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">

                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEft17tqVUEUxvFfvGChAQsRFS0skkJ8Ay0s9C0URC3sVCyEqEhABEXU1kbBwkbfQBsb30BBIaTwgoKFoIGA17NkTthscs7M2U6RwJ7mwMxa3/rvb65nyhprU2uMRw+Um5HeoUkduoB5TOcSK41/wzXcHeq1p+w7tlYqViqzhG2jgP6UqlSOWzGm7dC6AbqOX8mVq9hQ6FDkRG60jbgyIm9ih3bhcxL7iN2FQO+xL8XuwYdaQEfwIok9xMlCoPs4m2KP4lktoFu4lMRm8TpNwTiuZUTsuxR0D+dqAX3BfsSxEC3OqzsZl04h3Iy2HYvpd7W0iddQiATAxYZaFLyJHa0KsU7O42mjPzfNnYBC/zQeNAptwQnsTX1v8GSwm342YuIjbmfc7AwU59SZFtS4Wpcb235cXGegoehz3Eg773er0mYcw9xgVx0q3I3/DTSs8xUv8XbgxCbM4HCH+7AaUKEB2bAeKGdR71DvUM6B3Pj6WUM/0gGX+6Ka43Hvxen+r7Xf1K9woGa1Aq2oeXAU0HE8WgW0QLdTSNyD8Vp4PAoo+uM+istxZ6cS5Umf0pN2oZnS/7fPGdg7lHPoL4VXTSWM0mESAAAAAElFTkSuQmCC"
                        class="mr-3" height="30" />
                    <span>MYCART.com</span>

                </div>

            </div>
        </div>


    </header>

    <!-- Alert message modal -->
    <div class="modal fade" id="alertMessageModal">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">



                <div class="modal-body" style="background-color: #f7af93;">
                    <p><b id="alertMessage"></b></p>
                </div>

                <div class="modal-footer" style="background-color: #f7af93">
                    <button class="btn btn-outline-secondary" data-bs-dismiss="modal"
                        data-bs-target="#modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="container">
                <br />
                <br />
                <div class="card" style="background-color: #f7af93">
                    <div class="card-body">
                        <h2 class="card-title">Login</h2>

                        <form id="changePasswordForm">
                            <div class="form-floating">
                                <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                                    placeholder="Enter Current Password" required />
                                <label for="currentPassword" class="form-label">Enter Current Password</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="newPassword" name="newPassword" class="form-control"
                                    placeholder="Enter New Password" required />
                                <label for="newPassword" class="form-label">Enter New Password</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                                    class="form-control" placeholder="Confirm New Password" required />
                                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                                <br />
                            </div>

                            <br>
                            <p id="error" style="color: red;"></p>

                            <button class="btn btn-block" type="submit"
                                style="color: black; background-color: #e94c0e;">Update Password</button>
                        </form>
                        <br>

                        <br>
                        <br>



                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script>
        const changePasswordForm = document.getElementById('changePasswordForm');
        changePasswordForm.addEventListener('submit', resetPassword);

        async function resetPassword(e) {
            try {
                e.preventDefault()
                const currentPassword = document.getElementById('currentPassword').value;
                const newPassword = document.getElementById("newPassword").value;
                const confirmNewPassword = document.getElementById("confirmNewPassword").value;

                if (currentPassword.trim() === "" || newPassword.trim() === "" || confirmNewPassword.trim() === "") {
                    document.getElementById('error').innerHTML = 'Please Enter valid password';
                    return
                }

                if (newPassword !== confirmNewPassword) {
                    document.getElementById('error').innerHTML = 'Password do not match';
                    return
                }

                const details = {
                    currentPassword: currentPassword,
                    newPassword: newPassword,
                    confirmNewPassword: confirmNewPassword
                }
                const res = await axios.post("/home/updatepassword/${id}", details)
                document.getElementById('alertMessage').innerHTML = res.data.message;
                const alertModal = new bootstrap.Modal(document.getElementById('alertMessageModal'));
                alertModal.show();

                window.location.href = "/home";


            } catch (err) {
                console.log(err)
                document.getElementById('alertMessage').innerHTML = err.response.data.message;
                const alertModal = new bootstrap.Modal(document.getElementById('alertMessageModal'));
                alertModal.show();
                //alert(err)                        
            }
        }
    </script>
</body>

</html>