<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="../public/images/ecommerce_icon.png" sizes="32x32" type="image/png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../public/images/ecommerce_icon.png"> -->
    <!-- link to css  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Orders</title>
</head>

<body>
    <header>
        <div class="py-2" id="main-header">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="/" style="color: black;">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEft17tqVUEUxvFfvGChAQsRFS0skkJ8Ay0s9C0URC3sVCyEqEhABEXU1kbBwkbfQBsb30BBIaTwgoKFoIGA17NkTthscs7M2U6RwJ7mwMxa3/rvb65nyhprU2uMRw+Um5HeoUkduoB5TOcSK41/wzXcHeq1p+w7tlYqViqzhG2jgP6UqlSOWzGm7dC6AbqOX8mVq9hQ6FDkRG60jbgyIm9ih3bhcxL7iN2FQO+xL8XuwYdaQEfwIok9xMlCoPs4m2KP4lktoFu4lMRm8TpNwTiuZUTsuxR0D+dqAX3BfsSxEC3OqzsZl04h3Iy2HYvpd7W0iddQiATAxYZaFLyJHa0KsU7O42mjPzfNnYBC/zQeNAptwQnsTX1v8GSwm342YuIjbmfc7AwU59SZFtS4Wpcb235cXGegoehz3Eg773er0mYcw9xgVx0q3I3/DTSs8xUv8XbgxCbM4HCH+7AaUKEB2bAeKGdR71DvUM6B3Pj6WUM/0gGX+6Ka43Hvxen+r7Xf1K9woGa1Aq2oeXAU0HE8WgW0QLdTSNyD8Vp4PAoo+uM+istxZ6cS5Umf0pN2oZnS/7fPGdg7lHPoL4VXTSWM0mESAAAAAElFTkSuQmCC"
                            class="mr-3" height="30" />
                        <span>MYCART.com</span>
                    </a>

                </div>
                <div class="d-flex align-items-center">

                    <a href="/cart">
                        <i class='bx bx-shopping-bag' id="cart-icon" data-quantity="0"></i>
                        <!-- <i class='bx bxs-cart' ></i> -->
                    </a>
                </div>
            </div>
        </div>
        </div>


    </header>

    <div id="modals">
        <!-- Signup Modal -->
        <div class="modal fade" id="signupModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Signup
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="signupForm">
                            <div class="form-floating">
                                <input type="text" id="sname" name="sname" class="form-control" placeholder="Name"
                                    autofocus required />
                                <label for="name" class="form-label">Name</label>
                                <br />
                            </div>
                            <div class="form-floating">
                                <input type="email" id="semail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="spassword" name="Password" class="form-control"
                                    placeholder="Enter Password" required />
                                <label for="password" class="form-label">Password</label>
                                <br />
                            </div>

                        </form>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="signupForm">Signup</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="signupModalClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- login Modal -->
        <div class="modal fade" id="loginModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Login
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="loginForm">

                            <div class="form-floating">
                                <input type="email" id="lemail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="password" id="lpassword" name="Password" class="form-control"
                                    placeholder="Enter Password" required />
                                <label for="password" class="form-label">Password</label>
                                <br />
                            </div>

                        </form>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="loginForm">Login</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="loginModalClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- logout Modal -->
        <div class="modal fade" id="logoutModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <div class="modal-body" style="background-color: #f7af93;">
                        <H4>ARE YOU SURE YOU WANT TO LOGOUT ?</H4>
                    </div>

                    <div class="modal-footer" style="background-color: #f7af93">
                        <a class="btn btn-outline-secondary" href="/" id="logoutYes">YES</a>
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            data-bs-target="#modal">NO</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- profile Modal -->
        <div class="modal fade" id="profileModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Profile
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;" id="profileInfo">

                    </div>
                    <div class="modal-footer" style="background-color: #f7af93">
                        <button class="btn btn-outline-success" id="editProfileModalLauncher" data-bs-toggle="modal"
                            data-bs-target="#editProfileModal">Edit</button>

                        <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                            id="profileModalClose">Close</button>
                    </div>


                </div>
            </div>
        </div>

        <!-- profile info edit Modal -->
        <div class="modal fade" id="editProfileModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header" style="background-color: #e94c0e;">
                        Edit Profile
                    </div>

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="editProfileInfoForm">
                            <div class="form-floating">
                                <input type="text" id="pName" name="pname" class="form-control" placeholder="Name"
                                    autofocus required />
                                <label for="name" class="form-label">Name</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="email" id="pEmail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>

                            <div class="form-floating">
                                <input type="text" id="pAddress" name="paddress" class="form-control"
                                    placeholder="Address" required />
                                <label for="name" class="form-label">Address</label>
                                <br />
                            </div>

                        </form>
                        <p id='editInfoErrorMessage' style="color: red;"></p>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit"
                                form="editProfileInfoForm">Submit</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="editProfileModalClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <!-- logout Modal -->
        <div class="modal fade" id="changePasswordModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-body" style="background-color: #f7af93;">
                        <form id="changePasswordForm">
                            <p>Please enter your registered email address to reset your password</p>
                            <div class="form-floating">
                                <input type="email" id="cEmail" name="Email" class="form-control" placeholder="Email"
                                    required />
                                <label for="email" class="form-label">Email</label>
                                <br />
                            </div>



                        </form>
                        <div class="modal-footer" style="background-color: #f7af93">
                            <button class="btn btn-outline-success" type="submit" form="changePasswordForm"
                                id="changePasswordSubmit">Submit</button>

                            <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-target="#modal"
                                id="changePasswordClose">Close</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>



        <!-- Alert message modal -->
        <div class="modal fade" id="alertMessageModal">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <div class="modal-body" style="background-color: #f7af93;">
                        <p><b id="alertMessage"></b></p>
                    </div>

                    <div class="modal-footer" style="background-color: #f7af93">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            data-bs-target="#modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg " style="background-color: #fab397;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class='bx bx-menu'></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/men">Men</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/women">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kids">Kids <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <section class="order-container container">
        <a href="/" class="back-homepage">
            <i class='bx bx-chevron-left'></i>
            <span>Back to Home</span>
        </a>
        <h2 class="order-s-title">Orders</h2>
        <div class="order-box">
            <div class="order-data" id="orderData">
                <div id="orderItems"></div>
                <div class="text-right">
                    <div class="order-t" style="visibility: hidden;" id="order-t">


                    </div>
                </div>

            </div>
        </div>
    </section>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/shop/orders.js"></script>
</body>

</html>